*{
    margin:0;
    padding:0;
}
html,body{
    height: 100vh;
    width:100vw;
    overflow: hidden;
}
.page1{
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#page2{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    /* margin-bottom:100px; */
}
level{
    font-size:80px;
    
}

.cover{
    height:40%;
    width:70%;
    /* border:1px solid black; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* overflow: hidden; */
    
    
}
.row{
    height: calc(100%/4);
    width:100%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.box{
    height: 100%;
    width:calc(100%/4);
    border-radius: 20%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
    box-shadow: inset 0 0 20px rgb(145, 37, 25);
}
.box i{
    font-size: 100px;
}
.drop{
    animation:fall 1s linear forwards;
}
@keyframes fall{
    25%{
        transform: translateY(-20vh);

    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: translatey(100vh);
    }
}
.options{
    height: 15%;
    width:50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    text-decoration:none;
}
.inputrow{
    height: 35%;
    width:100%;
    border-radius: 20px;
    /* border:2px solid black; */
    display: flex;
    justify-content: space-between;

}
.input{
    height:100%;
    width:calc(100%/5);
    box-shadow:inset 0 0 20px black;
    border:2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(100%*5);
    text-decoration: none;
}
h2{
    margin-bottom: 40px;
    font-size: 50px;
}
